ion-content {
    --background: #fff url('../../assets/bg-vigne.jpg')no-repeat center center / cover;
   
}

ion-input {
    --background: white;
}

ion-card-header {
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

.admin-card-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}

ion-card {
    --background: rgba(255, 255, 255, 0.941);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
   // box-shadow: none;
}

ion-item {
    --background: white;
}

ion-row {
    margin: 16px;
}

ion-button {
 
}
